<div class="row">
  <div class="col-8">
    <h4 class="title">Management Tool</h4>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button
      [class.text-primary]="!isListView"
      type="button"
      class="btn"
      aria-label="view tile mode"
      (click)="toggleViewMode(false)"
    >
      <i class="bi bi-microsoft"></i>
    </button>
    <button
      [class.text-primary]="isListView"
      type="button"
      class="btn"
      aria-label="view cards mode"
      (click)="toggleViewMode(true)"
    >
      <i class="bi bi-list"></i>
    </button>
    <button type="button" class="btn" (click)="openRightSidebar()">
      <i class="bi bi-plus-circle"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col my-3">
    <ta9-search-box
      [placeholder]="'Find by name...'"
      (searchTextChanged)="onSearchTextChanged($event)"
    >
    </ta9-search-box>
  </div>
</div>

<div class="row list" *ngIf="incidentsList.length > 0">
  <div class="col" *ngIf="isListView; else tileListTpl">
    <ta9-incident-card
      class="my-2"
      *ngFor="let item of filteredList; trackBy: trackByFn"
      [incident]="item"
      [basePath]="'incidents'"
    ></ta9-incident-card>
  </div>
</div>

<ta9-sidebar [isOpen]="isRightSideBarOpen" (sideBarClosed)="onSideBarClosed()">
  <ta9-create-incident *ngIf="isRightSideBarOpen" (dismissed)="onSideBarClosed()">
  </ta9-create-incident>
</ta9-sidebar>

<ng-template #tileListTpl>
  <div class="col my-2" *ngFor="let item of filteredList; trackBy: trackByFn">
    <ta9-incident-tile-box
      [incident]="item"
      [basePath]="'incidents'"
    ></ta9-incident-tile-box>
  </div>
</ng-template>
