@import 'bootstrap/scss/bootstrap';

body {
  background-color: #f2f6f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 2rem;
}

#app {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0e4f6e;
}
